html {
    background-color: hwb(350 50% 15%);
    font-family: serif; 
    hyphens: auto;
    line-height: 125%;
    text-align: justify; 
}

section {
    display: flex; 
    flex-wrap: wrap; 
}

article {
    width: 16%;         
    margin: 1em;       
    padding: 1em;      
    border: black 3px solid;
    background-color: hwb(350 70% 5%);
}